

<div class="jumbotron">
  <div class="row">

  <div class="col-md-3">

    <%= image_tag "#{@product.photo}", id: 'logo-principal', class:'card-img-top'%>
  </div>
  <div class="col-md-9">
    <h3><%= @product.name %></h3>
    <p class="card-text">Precio: <%= @product.price %></p>
    <p class="card-text"><%= @product.description %></p>

    <%= link_to "Agregar", product_orders_path(@product), class:"btn btn-light btn-rounded" , method:'post', remote: true%>

  </div>
</div>
</div>
