<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#"></a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <li class="nav-item"><%= link_to 'Inicio', pages_inicio_path, class: 'nav-link'%></li>

      <li class="nav-item"><%= link_to 'Tienda', pages_tienda_path, class: 'nav-link'%></li>

      <li class="nav-item"><%= link_to 'Testeo de sustancias', pages_sustancias_path, class: 'nav-link'%></li>

      <li class="nav-item"><%= link_to 'Quienes somos?', pages_informacion_path, class: 'nav-link'%></li>

      <li class="nav-item"><%= link_to 'Contacto', pages_contacto_path, class: 'nav-link'%></li>

      <li class="nav-item"><%= link_to 'Tested', pages_testeado_path, class: 'nav-link'%></li>

      <li class="nav-item"><%= link_to "Carro de compras #{@sum}  ", orders_shopping_path, class: 'nav-link'%></li>

    </ul>

    <% if current_user%>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"nav-link", id:"sign"%>
        <%= link_to current_user.email, users_profile_path , class:"nav-link", id:"sign"%>
    <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class:"nav-link", id:"sign"%>
        <%= link_to 'log in', new_user_session_path, class:"nav-link", id:"sign" %>
    <% end %>

  </div>
  <!-- Collapsible content -->
  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>


</nav>
<!--/.Navbar-->
